:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --margin-content: 75%;
  --main-blue: #066da5;
  --main-dark-blue: #053e5c;
}

.active {
  font-weight: bolder;
  background-color: var(--main-blue);
  transition: all 0.3s;
}
